.table {
	border-collapse: collapse;
	border-spacing: 0;
}

.table th,.table td {
	border: 1px solid #8CACBB;
	padding: 0.3em 0.7em;
	text-align: left;
}

.table th {
	background: #F8F8F8;
	text-align: center;
}

.table thead th {
	text-align: center;
}

.table tbody th {
	text-align: right;
}

.table tr:hover {
	background-color: #f6fafd;
}

.table td:hover {
	background-color: #f9feff;
}

.form th {
	text-align: right;
}

.form th,.form td {
	padding: 0.1em 0.3em;
	border: 1px solid #D1D7DC;
}

.form input,.form select,.form textarea {
	width: 150px;
}

.form input[type='checkbox'],.form input[type='radio'] {
	width: 20px;
}

fieldset {
	border: 1px dotted #D1D7DC;
}

legend {
	border: 1px dotted #D1D7DC;
	font-size: small;
}